# Per https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distutils
# We cannot use package_data and expect data files to get into the source distribution.
# So we use a MANIFEST.in file to specify the non-python files that go into the library.

recursive-include nora_fleet/api/grpc *
recursive-include nora_fleet/api/scripts *
recursive-include nora_fleet/registries *
recursive-exclude tests *
recursive-exclude build_scripts *
recursive-exclude nora_fleet/api/grpc/__pycache__ *
recursive-exclude nora_fleet/deploy/internal *
include nora_fleet/deploy/build.sh
include nora_fleet/deploy/Dockerfile
include nora_fleet/deploy/entrypoint.sh
include nora_fleet/deploy/logging.hocon
include nora_fleet/deploy/run.sh
include nora_fleet/internals/run_context/langchain/llms/default_llm_info.hocon
include nora_fleet/internals/run_context/langchain/toolbox/toolbox_info.hocon
