
# Copyright (c) 2026 Nishant Sinha
#
# Licensed under the MIT License. See LICENSE.txt in the project
# root for full license information.
#
# END COPYRIGHT

# The schema specifications for this file are documented here:
# https://github.com/nvsinha/nora-fleet/blob/main/docs/agent_hocon_reference.md

{
    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network demonstrating use of temporary agent networks using Reservations in middleware",
        "tags": ["example", "middleware", "reservations"],
    },

    "llm_config": {
        "model_name": "gpt-5.2"
    },
    "tools": [
        # These tool definitions do not have to be in any particular order
        # How they are linked and call each other is defined within their
        # own specs.  This could be a graph, potentially even with cycles.

        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        # It is identified as such because it is either:
        #   A) The only one with no parameters in his function definition,
        #      and therefore he needs to talk to the outside world to get things rolling.
        #   B) The first agent listed, regardless of function parameters.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        {
            "name": "copy_cat",

            "function": {

                # The description acts as an initial prompt.
                "description": """
I am a test agent network that can make a copy of an existing agent on this server
and deploy it as a temporary agent.

What is the name of the agent you want to copy?
""",
                # You can also optionally specify the schema needed for any sly_data output.
                # This is to allow generic clients to know what to expect for private-data outputs
                # that do not belong in the chat stream.
                "sly_data_output_schema": {
                    "type": "object",
                    "properties": {
                        "agent_reservations": {
                            "type": "array",
                            "description": """
A list of reservation structures describing the temporary agent networks that were created by interacting
with this agent. By convention, the last one in the list is a top-level handle which may reference any others listed.
""",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "reservation_id": {
                                        "type": "string",
                                        "description": """
The unique identifier of the reserved temporary agent network.
This can be used to invoke the newly created network later on the same server/cluster.
"""
                                    },
                                    "lifetime_in_seconds": {
                                        "type": "float",
                                        "description": """
Approximate lifetime (in seconds) of the temporary agent network reservation suitable for reporting to end users.
"""
                                    },
                                    "expiration_time_in_seconds": {
                                        "type": "float",
                                        "description": """
The number of seconds since the epoch (Jan 1, 1970) when the reservation will expire.
After this time the network can no longer be counted upon to exist.
"""
                                    } 
                                },
                                "required": ["reservation_id", "lifetime_in_seconds", "expiration_time_in_seconds"]
                            }
                        }
                    },
                    "required": ["agent_reservations"]
                }
            },

            "instructions": """
You can make a copy of an existing agent on this server and deploy it as a temporary agent. 

Always answer with a JSON message that has one key, "agent_name" which is the name of the agent to copy
""",
            "middleware": [
                {
                    "class": "nora_fleet.middleware.network_copy_middleware.NetworkCopyMiddleware",
                    "allow": {
                        "reservations": true
                    },
                    "args": {
                        # "reservationist" is required to create temporary networks
                        "reservationist": true,
                        "sly_data": true,
                    }
                }
            ],
            "allow": {
                "to_upstream": {
                    # Specifying this allows sly_data keys from this network to be passed back
                    # to the calling client
                    "sly_data": ["agent_reservations"]
                }
            }
        },

    ]
}
