
# Copyright (c) 2026 Nishant Sinha
#
# Licensed under the MIT License. See LICENSE.txt in the project
# root for full license information.
#
# END COPYRIGHT

# The schema specifications for this file are documented here:
# https://github.com/nvsinha/nora-fleet/blob/main/docs/manifest_hocon_reference.md

{
    # Currently we list each hocon file we want to serve as a key with a boolean value.
    # Eventually we might have a dictionary value with server specifications for each.

    # Simple manifest entry where the key is the name of the hocon file with the
    # agent specification in it, and the value is a boolean as to whether or not
    # the agent should be served up as a public listing via the Concierge service.
    "hello_world.hocon": true,

    "esp_decision_assistant.hocon": true,
    "intranet_agents.hocon": true,
    "intranet_agents_middleware.hocon": true,
    "math_guy.hocon": true,
    "math_guy_passthrough.hocon": true,
    "music_nerd.hocon": true,
    "music_nerd_pro_sly.hocon": true,
    "music_nerd_pro_sly_api_key.hocon": true,
    "music_nerd_pro.hocon": {
        # A long-hand version of what the simple boolean true value expands to.
        "serve": true, # Whether or not this agent network should be served up
        "mcp": true # Whether or not this agent network should be served as an MCP tool.
        # See https://github.com/nvsinha/nora-fleet/blob/main/docs/manifest_hocon_reference.md
    },
    "music_nerd_pro_llm_anthropic.hocon": true,
    "music_nerd_pro_llm_gemini.hocon": true,
    "music_nerd_pro_llm_azure.hocon": true,
    "music_nerd_pro_llm_ollama.hocon": true,
    "music_nerd_pro_multi_agents.hocon": true,
    "music_nerd_pro_llm_bedrock_claude.hocon": true,
    "music_nerd_pro_llm_openrouter.hocon": true,

    # This is an example of summarization middleware.
    "music_nerd_summarize.hocon": true,

    # These two allow us to test agent hocons in a directory hierarchy.
    "deep/math_guy_passthrough.hocon": {
        # A long-hand version of what the simple boolean true value expands to.
        "serve": true,      # Whether or not this agent network should be served up
        "public": true      # Network should be publicly listed via the Concierge service.
    },
    "deep/math_guy.hocon": {
        "serve": true,      # Whether or not this agent network should be served up
        "public": false     # Network should *not* be publicly listed via the Concierge service.
                            # Note this network can still be called externally on a need-to-know basis.
                            # This false value is useful when the agent is called by other
                            # agent networks as an implementation detail and you don't really
                            # want it to be an externally advertised entrypoint.
    },

    # This one is an example of agents calling tools that has no parameters.
    "date_time.hocon": true,
    # This one is very similar to the previous one except that it can take timezone as a parameter
    # and return date and time for that timezone.
    # It is an example of agents calling shared coded tools.
    # In other words, these coded tools can be used in any agent network.
    # These tools are also predefined in the toolbox.
    "date_time_timezone.hocon": true,

    # Reservations example
    "copy_cat.hocon": true,
    "copy_cat_middleware.hocon": true,

    # Agents having to do with MCP
    # These 2 agents are examples of calling MCP tools using string and dictionary format, respectively.
    # This is an example of an agent network that uses MCP tool to interact with GitHub, which requires authentication.
    "mcp_github.hocon": true,
    # This is an example of an agent network that uses nora-fleet as an MCP server where each agent is a tool.
    # Make sure to start the nora-fleet server at localhost:8080 before running this network.
    "mcp_norafleet.hocon": true,

    # Middleware agent examples
    "pii_middleware.hocon": true,

    # Agents having to do with test infrastructure
    "gist.hocon": true,
    "assess_failure.hocon": true,
    "chat_mock_llm_echo.hocon": true,

    # STOP AND READ: YOU PROBABLY DON'T WANT TO ADD YOUR .hocon FILE HERE.
    #
    # The agent network .hocon files above are examples specific to the nora-fleet library.
    #
    # It would be an Easy thing to do to add your own agent network's .hocon file to the
    # list above to get started, but 99% of the time it is not the Right, Simple thing to do
    # to make a commit with your agent listed here.
    # Why? Because many agent networks drag in dependencies for their CodedTools,
    # and we are continually trying to keep nora-fleet a lean library.
    #
    # We are quite sure your agent is superlative and special... to you.
    # If your agent really is the 1% of cases which is so exemplary that we need to show it
    # off to the world, you will need to be talking to the nora-fleet team to make it
    # the exemplary case you perhaps unintentionally end up meaning it to be by adding
    # it here, in the nora-fleet repo.
    #
    # The Right thing to do is to start your own repo with your own registries/ directory,
    # with your own manifest.hocon file for your own agent network .hocon file projects,
    # and your own coded_tools directory for those agents.  And when you do that,
    # you will delete this set of comments, because you will have free reign in your own repo.
    # After all: Stallions must run, and run free.
    #
    # Use the AGENT_MANIFEST_FILE and AGENT_TOOL_PATH env vars to direct a generic nora-fleet
    # server to your own repo's agents and CodedTools, respectively.
    #
    # See https://github.com/nvsinha/nora-studio for an example of how to do this.
}
