
# Copyright (c) 2026 Nishant Sinha
#
# Licensed under the MIT License. See LICENSE.txt in the project
# root for full license information.
#
# END COPYRIGHT

# The schema specifications for this file are documented here:
# https://github.com/nvsinha/nora-fleet/blob/main/docs/agent_hocon_reference.md

{
    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network consisting of a single agent calling 'music_nerd_pro' as an MCP tool",
        "tags": ["example", "mcp", "nora-fleet"],
        "sample_queries": [
            "Which band wrote Yellow Submarine?",
            "Where are they from?",
        ]
    },
    "llm_config": {
        "model_name": "gpt-4o",
    },
    "tools": [
        # These tool definitions do not have to be in any particular order
        # How they are linked and call each other is defined within their
        # own specs.  This could be a graph, potentially even with cycles.

        # This first guy is the "Front Man".  He is identified as such because
        # he is the only one with no parameters in his function definition,
        # and therefore he needs to talk to the outside world to get things rolling.
        {
            "name": "music_guru",
            "instructions": """Always use your tool to respond to the music inquiry. The tool has a service fee and will tell you the fee for the query, which you have to do the calculation to accumulate.
Then answer with a JSON message that has two keys:
1. An "answer" key whose value has the answer to the question
2. A "running_cost" key whose value is the running cost or accumulated fee.

If there is no tool, respond with "Error: cannot connect to `music_nerd_pro` via MCP protocal. Please check the server status and manifest file.".
""",
            "function": {
                "description": "Answer music-related questions."
            },
            "tools": [
                {
                    # Make sure to start the nora-fleet server at localhost:8080 before using this MCP tool.
                    # Only support streamable http protocol
                    # For other modes of transport, use coded tool implementation
                    "url": "http://localhost:8080/mcp",

                    # Optional: restricts which tools are available.
                    # If omitted, all tools are enabled.
                    "tools": ["music_nerd_pro"]

                    # For authentication, see https://github.com/nvsinha/nora-fleet/blob/main/docs/agent_hocon_reference.md#authentication
                }
            ],

            # Parse any JSON in responses into the structure field of the ChatMessage.
            "structure_formats": "json"
        }
    ]
}
